@import "../variables";

.footer {
    background-color: $footer-background_color;
    padding: 1rem 0 0;
}

.footer__bug {
    width: 100%;
    justify-content: right;
    padding: 0 11px 11px 0;
}

.footer__copyright {
    padding-bottom: 17px
}

.magicpattern {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1500 1100%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%221500%22 height=%221100%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h1500v1100H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h1500v1100H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72%22 stroke-width=%221.35%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M100 0h100v100H100zM200 0h100v100H200zM400 0h100v100H400zM500 0h100v100H500z%22%2F%3E%3Cpath fill=%22%234c4e727b%22 d=%22M600 0h100v100H600z%22%2F%3E%3Cpath fill=%22%234c4e726d%22 d=%22M700 0h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 0h100v100H800zM900 0h100v100H900zM1000 0h100v100h-100zM1100 0h100v100h-100zM1200 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e726c%22 d=%22M1300 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 0h100v100h-100zM0 100h100v100H0zM100 100h100v100H100zM200 100h100v100H200zM300 100h100v100H300zM600 100h100v100H600z%22%2F%3E%3Cpath fill=%22%234c4e720d%22 d=%22M700 100h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 100h100v100H800zM1000 100h100v100h-100zM1100 100h100v100h-100zM1200 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e728d%22 d=%22M1300 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 100h100v100h-100zM0 200h100v100H0zM100 200h100v100H100zM200 200h100v100H200zM300 200h100v100H300zM500 200h100v100H500zM600 200h100v100H600zM800 200h100v100H800z%22%2F%3E%3Cpath fill=%22%234c4e72e8%22 d=%22M900 200h100v100H900z%22%2F%3E%3Cpath fill=%22%234c4e72be%22 d=%22M1000 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e720f%22 d=%22M1200 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7207%22 d=%22M1400 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 300h100v100H0z%22%2F%3E%3Cpath fill=%22%234c4e72db%22 d=%22M100 300h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 300h100v100H200zM300 300h100v100H300zM400 300h100v100H400zM500 300h100v100H500z%22%2F%3E%3Cpath fill=%22%234c4e7299%22 d=%22M600 300h100v100H600z%22%2F%3E%3Cpath fill=%22%234c4e72d8%22 d=%22M700 300h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 300h100v100h-100zM1100 300h100v100h-100zM1200 300h100v100h-100zM1400 300h100v100h-100zM0 400h100v100H0z%22%2F%3E%3Cpath fill=%22%234c4e723f%22 d=%22M100 400h100v100H100z%22%2F%3E%3Cpath fill=%22%234c4e72af%22 d=%22M200 400h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 400h100v100H300zM400 400h100v100H400z%22%2F%3E%3Cpath fill=%22%234c4e72de%22 d=%22M500 400h100v100H500z%22%2F%3E%3Cpath fill=%22%234c4e7269%22 d=%22M600 400h100v100H600z%22%2F%3E%3Cpath fill=%22%234c4e7281%22 d=%22M700 400h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 400h100v100H800zM900 400h100v100H900zM1000 400h100v100h-100zM1100 400h100v100h-100zM1200 400h100v100h-100zM1400 400h100v100h-100zM0 500h100v100H0zM100 500h100v100H100z%22%2F%3E%3Cpath fill=%22%234c4e72c3%22 d=%22M200 500h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 500h100v100H300zM600 500h100v100H600z%22%2F%3E%3Cpath fill=%22%234c4e72cd%22 d=%22M700 500h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 500h100v100H900zM1000 500h100v100h-100zM1100 500h100v100h-100zM1200 500h100v100h-100zM1400 500h100v100h-100zM0 600h100v100H0zM100 600h100v100H100z%22%2F%3E%3Cpath fill=%22%234c4e7205%22 d=%22M200 600h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 600h100v100H500zM600 600h100v100H600zM800 600h100v100H800zM900 600h100v100H900zM1000 600h100v100h-100zM1100 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e723b%22 d=%22M1200 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 700h100v100H0zM100 700h100v100H100zM200 700h100v100H200zM300 700h100v100H300z%22%2F%3E%3Cpath fill=%22%234c4e723c%22 d=%22M600 700h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 700h100v100H700zM800 700h100v100H800zM900 700h100v100H900zM1000 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72e4%22 d=%22M1100 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 700h100v100h-100zM1400 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72da%22 d=%22M0 800h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 800h100v100H100zM200 800h100v100H200z%22%2F%3E%3Cpath fill=%22%234c4e721e%22 d=%22M300 800h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 800h100v100H500zM600 800h100v100H600zM700 800h100v100H700z%22%2F%3E%3Cpath fill=%22%234c4e726a%22 d=%22M900 800h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 800h100v100h-100zM1400 800h100v100h-100zM0 900h100v100H0zM200 900h100v100H200z%22%2F%3E%3Cpath fill=%22%234c4e723a%22 d=%22M400 900h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 900h100v100H500zM1000 900h100v100h-100zM1100 900h100v100h-100zM1300 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e72e8%22 d=%22M1400 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1000h100v100H0zM100 1000h100v100H100zM200 1000h100v100H200z%22%2F%3E%3Cpath fill=%22%234c4e72d9%22 d=%22M300 1000h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 1000h100v100H500z%22%2F%3E%3Cpath fill=%22%234c4e729e%22 d=%22M600 1000h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 1000h100v100H700zM800 1000h100v100H800zM900 1000h100v100H900zM1000 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22%234c4e7228%22 d=%22M1200 1000h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1300 1000h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.footer-content {
    width: 100%;
    height: 380px
}
