@import "../variables";
.navbar{
    height: 83px;
    background-color: $navbar-background_color;
    color: $navbar-font_color;
}

.navbar-burger {
    color: $color-link_water;
}

.navbar-brand:hover {
    background-color: $navbar-background_color--hover;
}

.navbar-title {
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
}

a.navbar-item {
    color: $navbar-font_color;

    &:hover {
       color: $color-white;
    }
}

.navbar-item > form {
    color: white;
    height: 100%;
    width: 100%;
}

.navbar-item > form > a, .navbar-item > a
{
    color: white;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navbar-item:hover {
    color: white;
    background-color: $navbar-background_color--hover;
}

.field
{
    color: white;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
