@import "../variables";

.card {
    background-color: $card-background_color;
    font-size: 18px;
}

.expense__card {

    @media screen and ( max-width: 600px ){
        margin: 17px;
    }
    @media screen and ( min-width: 600px ){
        margin: 51px;
    }
}
.expense__card__title {
    display: initial;
}

.expense__card__title__category {

}

.expense__card__title__date {
    float: right;
}

.clickable:hover {
    cursor: grab;
}

.hoverable {
    transition: box-shadow .3s;
    margin: 5px;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;

}
.hoverable:hover {
    box-shadow: 0 0 19px rgba(33,33,33,.2);
}
