@import "../variables";

#expense__create__form {
    margin-top: 71px;
    margin-bottom: 71px;
}

.expense__create__controls {
    justify-content: end !important;
}

.input-textarea-field {
    margin-top: 61px;
}
