@import "../variables";

.tabs {
    font-size: 18px;
}

.expense__show__tabs {
    background-color: $expense-show_tabs;
    margin-bottom: 31px;
    min-height: 350px;
    font-size: 18px;
}

.expense__show__tabs__tab {
}
