// https://www.color-hex.com/color-palette/185
$color-ivory: #F9F9ED;
$color-cool_gray: #7D84B2;
$color-vista_blue: #8E9DCC;
$color-lavender: #D9DBF1;
$color-mindaro: #DBF4A7;

$color-blue_bell: #8b9dc3;
$color-desert_storm: #f7f7f7;
$color-dusky_blue: #3b5998;
$color-link_water: #dfe3ee;
$color-white: #ffffff;

$color-alert: #E30007;

// body
$background_color: $color-link_water;

// navbar
$navbar-background_color: $color-dusky_blue;
$navbar-background_color--hover: $color-blue_bell;
$navbar-font_color: $color-white;

// footer
$footer-background_color: $color-lavender;

// card
$card-background_color: $color-desert_storm;

// tabs
$expense-show_tabs: $color-desert_storm;
