@import "node_modules/bulma/bulma.sass";
@import "variables";

@import "shared/util";

@import "layouts/navbar";
@import "layouts/footer";

@import "shared/title";

@import "expenses/card";
@import "expenses/blank";
@import "expenses/create";
@import "expenses/show";

body {
    background-color: $background_color;
    //opacity: 0.5;
    //background-size: 28px 28px;
    //background-image:  repeating-linear-gradient(0deg, #8487c9, #8487c9 1.4000000000000001px, #cfcfd0 1.4000000000000001px, #cfcfd0);
}

